---
import { MainLayout } from '@/components/MainLayout';
import { Button } from '@/components/ui/button';
import ApiTokenMissingCard from '@/components/admin/api-token-missing-card';

const { API_TOKEN } = Astro.locals.runtime.env;
const apiTokenSet = API_TOKEN && API_TOKEN !== '';
---

<MainLayout client:load>
  <div class="flex-1 space-y-4 p-8 pt-6">
    <div class="mb-4">
      {!apiTokenSet && <ApiTokenMissingCard />}
    </div>
    <div class="flex items-center justify-between">
      <h2 class="text-3xl font-bold tracking-tight">Dashboard</h2>
      <div class="flex items-center space-x-2">
        <Button>New Order</Button>
      </div>
    </div>
    <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-4">
      <!-- Add your dashboard cards here -->
    </div>
  </div>
</MainLayout>
